- breadcrumb :project_participations, current_project

- content_for :page_title do
  Users

.panel.panel-default
  .panel-body
    .row
      .col-md-12.col-sm-12.col-xs-12
        - if can? :manage, current_project
          = link_to new_project_user_invitation_path(current_project), class: 'btn btn-default' do
            %i.fa.fa-users
            %span.nav-label= t('invite_users')
        - if @participations.any?
          %h3 Users
          %table.table
            %thead
              %tr
                %th= "Email"
                %th= "Participated at"
                %th= "Actions"
            %tbody
              - @participations.each do |participation|
                %tr
                  %td= participation.user.email
                  %td= l(participation.created_at.to_date, format: :default)
                  %td
                    - if can? :destroy, participation
                      :ruby
                        message = if participation.user == current_user
                          "You are leaving this project. Are you sure?"
                        else
                          "The user will not be able to use this project, are you sure?"
                        end

                      = link_to(project_participation_path(current_project, participation),
                        method: :delete, class: 'btn btn-danger',
                        data: { confirm: message }) do
                        %i.fa.fa-remove
                        Revoke access
        - else
          %br
          %h3
            No other users participating in this project

        - if can?(:manage, current_project) && @invitations.any?
          %h3 Invitations
          %table.table
            %thead
              %tr
                %th= "Email"
                %th= "Invited at"
                %th= "Actions"
            %tbody
              - @invitations.each do |invitation|
                %tr
                  %td= invitation.email
                  %td= l(invitation.created_at.to_date, format: :default)
                  %td
                    = link_to(resend_project_user_invitation_path(current_project, invitation),
                      method: :post, class: 'btn btn-default') do
                      %i.fa.fa-envelope-o
                      Resend invitation
                    = link_to(project_user_invitation_path(current_project, invitation),
                      method: :delete, class: 'btn btn-danger',
                      data: { confirm: "Are you sure?" }) do
                      %i.fa.fa-remove
                      Cancel invitation
