.logo {
  margin-top: 20px;
}

.left-panel {
  .fa {
    line-height: inherit;
  }
}
.breadcrumb > span {
  margin-right: 10px;
}

.list-group-item:hover {
  background-color: #f5f5f5;
}

.file-edit-buttons {
  li {
    cursor: pointer;
  }
}

.multi-select {
  width: 50%;
}

.test-run-panel-heading {
  display: inline-block;
  width: 100%;
}

.branches {
  .btn {
    text-align: left;
  }
}

.content {
  a:hover {
    text-decoration: underline;
  }

  header a:hover {
    text-decoration: none;
  }
}


.progress {
  margin-top: 17px;

  .status {
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: initial;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
  }
}

.page-title {
  font-size: 30px;
  margin-top: -15px;
  padding-left: 11px;
  padding-bottom: 4px;
}

.breadcrumb {
  margin-bottom: 10px;
}

.commit-info {
  .title {
    font-size: 20px;
  }

  .author {
    font-size: 15px;
  }
}

.page-subtitle {
  font-size: 15px;
}

.breadcrumb-bar {
  display: inline-block;
  width: 100%;
  height: 36px;

  .breadcrumb-left-side {
    float: left;
  }

  .breadcrumb-actions {
    float: right;
    padding: 7px;
  }
}

.more-info {
  color: grey;
  display: block;
  font-size: 12px;
}

.display-error {
  text-align: left;
  border-top: 0px !important;
  padding: 0px !important;

  div {
    max-height: 500px;
    overflow: auto;
    white-space: pre-wrap;
    max-width: 100vw;
    font-size: 12px;
    clear: left;
  }
}

.show-all-area {
  cursor: pointer;

  label {
    float: right;
    padding: 3px;
  }

  input {
    float: right;
  }
}

.console {
  font-family: Monaco, monospace;
  color: #CCCCCC;
  background: #000000;
  padding: 10px;
  scrollbar-face-color: #ccc;
}
.console::-webkit-scrollbar {
  width:12px;
  color: black;
  background-color:#cccccc;
}

.console::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: grey;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.left-panel {
  .fa {
    line-height: inherit;
  }
}
.breadcrumb > span {
  margin-right: 10px;
}

.list-group-item:hover {
  background-color: #f5f5f5;
}

.file-edit-buttons {
  li {
    cursor: pointer;
  }
}

.multi-select {
  width: 50%;
}

.test-run-panel-heading {
  display: inline-block;
  width: 100%;
}

.branches {
  .btn {
    text-align: left;
  }
}

.content {
  a:hover {
    text-decoration: underline;
  }

  header a:hover {
    text-decoration: none;
  }
}

.progress.status {
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: initial;
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
}

.branch {
  border-top: solid 1px #CCC;
  padding: 10px;
  vertical-align: middle;

  .status {
    margin-top: 10px;
  }

  .time {
    margin-top: 10px;
  }

  .name {
    margin: 10px 0px 10px 0px;
    font-weight: bold;

    a {
      text-decoration: none;
    }

    ::before {
      opacity: 0.65;
      background-color: #CCC;
      margin-top: 2px;
      margin-right: 2px;
      float: left;
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background: image-url("branch_icon")  no-repeat center center;
      background-size: 20px 20px;
    }
  }
}

.github-fetch-overlay {
  position: absolute;
  opacity: 0.8;
  color: black;
  background-color: #ddd;
  z-index: 3;
  width: 100%;
  height: 100%;
  right: 0px;
}

.test-run-tr {
  td {
    vertical-align: middle !important;
  }
}

.status-lable {
  margin-top: -2px;
}
