body.project_wizard {
  &.show {
    .fetch-repos {
      min-height: 300px;
    }

    .loading-overlay {
      display: none;
      position: absolute;
      opacity: 0.8;
      color: black;
      background-color: #FFF;
      z-index: 3;
      width: 100%;
      height: 100%;
      right: 0px;

      .loading-content {
        font-size: 120%;
        z-index: 100;
        position: absolute;
        margin-left: -30px;
        left: 50%;
        top: 50%;
      }

    }

    .provider-box {
      width: 100%;
      padding: 20px;
      background: #F9F9F9;
      font-size: 200%;

      input[type="radio"] {
        display:none;
      }

      &.selected {
        background-color: #CCC;
      }
    }

    .panel-body {
      .doc-text {
        margin: 0 10px;
        font-size: 120%;
      }

      .actions {
        padding-top: 10px;
      }
    }
  }
}
