body.settings {
  &.notifications {
    h4 {
      margin-top: 30px;
    }

    form {
      input[type='submit'] {
        margin-top: 10px;
      }

      .form-row {
        margin-top: 10px;
      }
    }
  }

  &.worker-setup {
    .panel-title .worker-groups-actions {
      float: right;
    }

    .panel-body .worker-group-actions {
       float: right;
     }

    .panel-body .worker-group a.action {
      margin-left: 10px;
    }
  }
}
