.col-xs-12
  = render 'layouts/wizard_steps'
.col-xs-12
  .panel.panel-default
    .row
      .panel-body
        .doc-text.well
          To start a worker you will need to have Docker Compose installed.
          %ul
            %li
              Follow the instructions on
              = link_to "the official Docker documentation", "https://docs.docker.com/", target: "_blank"
              to install Docker and Docker Compose
            %li
              Save the following file as "docker-compose.yml"
            %li Run "docker-compose up" from the same directory to start the worker
        .col-xs-12
          .js-ajax-loader.loading-overlay
            .loading-content
              .fa.fa-refresh.fa-spin
              Updating file...

          = form_for @project, as: :project, remote: true do |f|
            .col-xs-6
              %h3 Select language and version
              = f.select :docker_image_id,
                grouped_options_for_select(grouped_languages_options,
                f.object.docker_image_id)
            .col-xs-6
              %h3 Select technologies
              = f.select :technology_ids,
                options_for_select(technologies_options, f.object.technology_ids),
                {}, multiple: true, class: 'multi-select'
            .col-xs-12.m-t-10
              :ruby
                contents = @project.generate_docker_compose_yaml(
                  @project.worker_groups.first.oauth_application_id)
              = text_area_tag :contents, contents, id: 'docker-compose-contents',
                class: 'text form-control'
            .col-xs-12
              .pull-right.m-t-15
                = link_to "Done!", project_wizard_path, method: :put,
                  class: 'btn btn-success', id: "done_button",
                  style: @project.active_workers.count < 1 ? "display: none" : ''

                #waiting_for_worker{ data: { 'live_update_resource_id' => @project.redis_live_update_resource_key }}
                  = link_to "Skip", project_wizard_path, method: :put, class: 'btn btn-default',
                    data: { confirm: "You will still need to add a worker or you won't be able to do anything useful" }
                  %span.btn.btn-primary.disabled
                    Waiting for worker...

- content_for :in_page_js do
  = javascript_include_tag asset_path 'codemirror.js'
  = javascript_include_tag asset_path 'formatting.js'
  = javascript_include_tag asset_path 'shell.js'
  = javascript_include_tag asset_path 'yaml.js'
  = javascript_include_tag asset_path 'custom.codemirror.js'
