- if @response_data[:repos].any?
  .panel-title
    %h3 Select a BitBucket repository:
  .panel-body
    .list-group
      - @response_data[:repos].each do |repo|
        = link_to_if_with_block !repo[:is_participating_project] && !repo[:already_added_by],
          project_wizard_path(repository_owner: repo[:owner],
            repository_name: repo[:name], repository_slug: repo[:slug],
            repository_provider: 'bitbucket'), method: :put do
          %li.list-group-item
            #{repo[:full_name]}
            - if repo[:fork]
              %strong= "[FORK]"
            - if repo[:is_participating_project]
              %i= ' - You already participate in a project based on this repository'
            - elsif repo[:already_added_by]
              %i
                #{'-'} Please ask user
                %code= repo[:already_added_by]
                to invite you
    -# TODO Add pagination support when migrate to using BitBucket API v2
- else
  .panel-title
    %h3 No repositories found! None. Zero. Zilch. Nada.
    We were unable to find any repositories. If this is unexpected for you,
    please check if you need to manually approve access of Testributor to
    those organisations you are member of or create at least one personal
    repository and then refresh this page.
