.col-xs-12
  = render 'layouts/wizard_steps'
.col-xs-12
  .panel.panel-default
    .panel-heading
      %h3 Configure test commands

    .panel-body
      .col-xs-12.doc-text{ style: "margin-bottom: 10px;" }
        What commands to you use to run your test suite?
        %br
        Replace the commands below or add more commands:
      .col-md-12
        = form_tag project_wizard_path, method: :put, html: { class: "form-horizontal" } do
          .row
            .col-sm-12
              %panel.panel-info.panel-color
                .panel-body.code-edit-wrap.m-b-10
                  = text_area_tag :testributor_yml,
                    @project.project_files.find_or_initialize_by(path: ProjectFile::JOBS_YML_PATH).contents,
                    class: 'text form-control code'
          .pull-right.m-t-10
            = submit_tag "Next", class: 'btn btn-primary w-lg btn-lg'
        %p
          Read the
          = link_to "documentation", "http://documentation.testributor.com/testributoryml/", target: "_blank"
          for more details about the syntax and what you can do in this file.


    -# TODO : find a better way to disable external js requests in tests
    - unless Rails.env.test?
      - content_for :in_page_js do
        = javascript_include_tag asset_path 'codemirror.js'
        = javascript_include_tag asset_path 'formatting.js'
        = javascript_include_tag asset_path 'yaml.js'
        = javascript_include_tag asset_path 'custom.codemirror.js'
