- if @response_data[:repos].any?
  .panel-title
    %h3 Select a GitHub repository:
  .panel-body
    .list-group
    - user_repos = current_user.participating_projects.pluck(:repository_id)
    - @response_data[:repos].each do |repo|
      = link_to_if_with_block !repo[:id].in?(user_repos),
        project_wizard_path(repository_owner: repo[:owner],
          repository_name: repo[:name], repository_id: repo[:id],
          repository_provider: 'github'), method: :put do
        %li.list-group-item
          #{repo[:full_name]}
          - if repo[:fork]
            %strong= "[FORK]"
          - if repo[:id].in?(user_repos)
            %i= ' - This repository is already tracked.'
    - page_manager = GithubRepoPageManager.new(@response_data[:last_response])
    - if page_manager.all_pages_number > 1
      %ul.pagination.m-b-5
        - if previous_page = page_manager.previous_page_number
          %li
            = link_to fetch_repos_project_wizard_path(page: previous_page,
              repository_provider: "github"), aria_label: 'Previous' do
              %i.fa.fa-angle-left
        - (1..page_manager.all_pages_number).each do |i|
          %li{ class: ('active' if i == page_manager.current_page_number) }
            = link_to i, fetch_repos_project_wizard_path(page: i,
              repository_provider: "github")
        - if next_page = page_manager.next_page_number
          %li
            = link_to fetch_repos_project_wizard_path(page: next_page,
              repository_manager: "github"), aria_label: 'Next' do
              %i.fa.fa-angle-right

- else
  .panel-title
    %h3 No repositories found! None. Zero. Zilch. Nada.
    We were unable to find any repositories. If this is unexpected for you,
    please check if you need to manually approve access of Testributor to
    those organisations you are member of or create at least one personal
    repository and then refresh this page.
