- breadcrumb :settings, current_project

= render 'settings_common_header'

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Worker Groups
      .worker-groups-actions
        = link_to project_worker_groups_path(current_project), method: :post,
        class: 'btn btn-success btn-xs',
        title: 'Create a new group of workers.' do
          %i.fa.fa-plus-square
          Add a new group
  .panel-body
    %table.table
      %thead
        %tr
          %th
            Friendly name
          %th
      %tbody
        - current_project.worker_groups.each do |worker_group|
          %tr
            %td.worker-group
              = render worker_group
            %td
              .worker-group-actions
                = link_to docker_compose_project_path(current_project, client_id: worker_group.oauth_application_id),
                class: 'btn btn-info btn-xs',
                title: 'Download the docker-compose.yml file that is needed for creating a worker.' do
                  %i.fa.fa-download
                  docker-compose.yml
                = link_to reset_ssh_key_project_worker_group_path(current_project, worker_group),
                method: :post, class: 'btn btn-danger btn-xs',
                data: { confirm: 'Workers of this group will need to be restarted after resetting the key. Reset?' },
                title: 'Reset the SSH key that the workers of this group use in order to access the repository linked with this project.' do
                  %i.fa.fa-refresh
                  Reset SSH key
                = link_to project_worker_group_path(current_project, worker_group),
                method: :delete, class: 'btn btn-danger btn-xs',
                data: { confirm: "Workers of this group will not be able to access project '#{current_project.name}' anymore. Delete?" },
                title: 'Delete the group and disable its workers from accessing this project.' do
                  %i.fa.fa-trash
                  Delete group

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Language and technologies
  .panel-body
    = form_for current_project do |f|
      .col-xs-6
        %h3 Language
        = f.select :docker_image_id,
          grouped_options_for_select(grouped_languages_options,
          f.object.docker_image_id)
      .col-xs-6
        %h3 Technologies
        = f.select :technology_ids,
          options_for_select(technologies_options, f.object.technology_ids),
          {}, multiple: true, class: 'multi-select'
      .col-xs-12
        .pull-right.m-t-15
          = f.submit "Save", class: 'btn btn-primary w-lg btn-lg'
