- breadcrumb :project, current_project

- content_for :page_title do
  Branches

- content_for :page_actions do
  = link_to new_project_branch_path(current_project),
    class: 'btn btn-xs btn-success' do
    %i.fa.fa-plus
    %span= 'Track a branch'

.panel.panel-default
  - if @branches.empty?
    .panel-heading

      = render partial: "no_branches",
        locals: { project: current_project}
  - else
    .panel-body
      .row
        .col-md-12.col-sm-12.col-xs-12
          .table-responsive
            %table.table
              %thead
                %tr
                  %th Branch
                  %th Latest Run Commit
                  %th Last run
                  %th Status
              %tbody
                - @branches.each do |branch|
                  %tr.branch
                    %td.col-md-3
                      .name
                        = link_to branch.branch_name,
                          project_branch_test_runs_path(branch.project, branch)
                    %td.col-md-5
                      - if branch.last_run
                        = branch.last_run.decorate.commit_message
                        %br
                        %i= branch.last_run.decorate.commit_info
                    %td.col-md-2
                      .time
                        - if branch.last_run.try(:completed_at)
                          = "#{time_ago_in_words(branch.last_run.completed_at)} ago"
                    %td.col-md-2
                      .status
                        %span{class: branch.status.try(:css_class)}
                          = branch.status.try(:text)
