*, p, a, h1, h2, h3, h4, h5, h6 {

}

span, h1, h2, h3, h4, h5, h6 {
  color:  #333b4d;
}

html, body {
  color: #555;
}

.btn-cta {
  font-size: 30px;
  padding: 9px 15px;
  font-weight: 300;
  opacity: 1;

  &:hover {
    opacity: 0.9;
    color: white;
  }
}

section.features {
  background: image-url("features-background")  no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .feature {
    padding: 20px;
    min-height: 200px;
    background: #000;
    color: white;
    opacity: 0.7;
    margin-top: 20px;

    h3 {
      color: white;
    }
    .fa {
      font-size: 120%;
    }
  }
}

.submit-email-group {
  @media screen and (max-width: $screen-xs-max) {
    * {
      display: block;
      margin: 20px auto 0 auto;
    }
  }

  .btn-tb-primary {
    padding: 9px 60px 13px 60px;
  }
}

.submit-email-content {
  margin: 30px 0;
}
.submit-email-input {
  min-width: 300px;
  @media screen and (max-width: $screen-xs-max) {
    min-width: 210px;
  }
  padding: 10px 16px;
  border: 1px solid #333b4d;
  vertical-align: middle;
  border-radius: 2px;
}

.top-section {
  padding: 4px;
  background-color: #333b4d;
}

.home.index {
  h2 {
    font-size: 36px;
    margin-top: 0;
  }
}
.navbar-custom {
  margin: 0px;
}
.navbar-custom ul li a {
  color: #fff;
}

.btn-white {
  border-color: white;
  color: white;
}

.logo {
  img {
    margin-top: 1px;
    float: left;
    width: 50px;
  }

  .logo-text {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin: 16px 5px 10px 4px;
    display: inline-block;
  }
}

.hero-content {
  margin: 40px 0 40px 0;
}

.main-title {
  font-size: 80px;
  text-align: center;
  color: #333b4d;
}

@media screen and (max-width: $screen-sm-max) {
  .img-container {
    margin-top: 40px;
  }
}

.main-text {
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.inner-text {
  line-height: 1.9;
}

.main-link {
  text-decoration: underline;
}

.feature-list {
  margin-top: 40px;

  li {
    margin-top: 20px;
  }
}

.cta-container {
  padding: 16px 0 0 0;
}

#why-join {
  margin-top: 20px;
}

.features {
  background-color: #5A5A9A;
  i {
    padding-right: 5px;
  }
}

.btn-tb-primary {
  color: white;
  background-color: #3bc0c3;
  border: 2px solid white;
  font-weight: bold;
  opacity: 1;
  font-size: 16px;
  &:hover {
    opacity: 0.9;
    color: white;
  }
}

.panel.panel-primary .panel-heading {
  background-color: #333b4d;

  h2 {
    color: white;
  }

  .logo {
    img {
      width: 60px;
    }
  }
}

.footer .social a {
  font-size: 150%;
  padding: 5px;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
}

.footer {
  position: relative;
  margin-top: -75px;
  color: #fff;
  a {
    color: #fff;
    padding: 0 10px;
  }
  background-color: #333b4d;
  @media screen and (max-width: $screen-xs-max) {
    text-align: center;
  }
}

#page {
  min-height: 100%;
  padding-bottom: 75px;
}

.service-logos {
  list-style: none;
  padding: 10px;
  span {
    font-weight: bold;
    padding-left: 10px;
  }
}

.bx-s {
  -webkit-box-shadow: 0 0px 8px 0 rgba(0,0,0,0.06),0 1px 0px 0 rgba(0,0,0,0.02);
  -moz-box-shadow: 0 0px 8px 0 rgba(0,0,0,0.06),0 1px 0px 0 rgba(0,0,0,0.02);
  box-shadow: 0 0px 8px 0 rgba(0,0,0,0.06),0 1px 0px 0 rgba(0,0,0,0.02);
}

.media-main a.pull-left {
  width: 100px;
}

.social-links li a {
  background: #EFF0F4;
  text-align: center;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #7A7676;
  i {
    line-height: 30px;
  }
}

#macbook {
  @media screen and (max-width: $screen-xs-max) {
    display: none;
  }

  margin: auto;
  text-align: center;
  display: block;
  background: asset-url("mac.png");
  width: 967px;
  height: 484px;
}
#tour {
  margin: 0 auto;
  width: 652px;
  height: 432px;
  position: relative;
  top: 22px;
  left: -4px;
}

.dark-blue {
  background-color: #333b4d;
  color: white;

  &:hover {
    color: white;
  }
}

.most-popular {
  border: 1px solid #333b4d;
}

.main-link {
  text-decoration: underline;
  color: #333b4d;
}

.bg-white {
  background-color: white;
}

.price_card {
  span {
    color: white;
  }
}

.flat-logo {
  -webkit-box-shadow: 10px 10px 12px -8px rgba(0,0,0,0.48);
  -moz-box-shadow: 10px 10px 12px -8px rgba(0,0,0,0.48);
  box-shadow: 10px 10px 12px -8px rgba(0,0,0,0.48);
}

.nav-btn-primary {
  padding: 10px !important;
  top: 5px;
  color: white;
  background-color: #3bc0c3;

  &:hover {
    color: white !important;
    background-color: #3bc0c3 !important;
  }
}

.white-text {
  color: white !important;
}
