<tr id="test-job-{{id}}" >
  <td>{{job_name}}</td>
  <td class="status">
    <span class="{{status_css_class}}">{{status_text}}</span>
    {{#if status_is_unsuccessful }}
      <a href="#error-{{id}}" class="more-info" data-toggle="collapse" aria-expanded="false">
        Toggle logs
      </a>
    {{/if}}
  </td>
  <td class="sent_at">{{sent_at}}</td>
  <td>{{worker_uuid_short}}</td>
  {{#if admin }}
    <td class="chunk_index">{{chunk_index}}</td>
    <td class="cost_prediction">{{avg_worker_command_run_seconds}}</td>
    <td class="worker_command_run_seconds">{{worker_command_run_seconds}}</td>
  {{/if}}
  <td class="running_time">{{total_running_time}}</td>
  <td>
    <a class="btn btn-primary btn-xs m-b-5" rel="nofollow" data-method="put" href="{{retry_url}}">
      <i class="fa fa-refresh"></i>
      <span>Retry</span>
    </a>
  </td>
</tr>
