- breadcrumb :tracked_branch, current_project, @tracked_branch

- content_for :page_title do
  #{@tracked_branch.try(:branch_name)}

- content_for :page_actions do
  = link_to project_branch_test_runs_path, method: :post, remote: true,
    data: { disable_with: with_dots("Adding build") },
    action: :create, class: 'btn btn-xs btn-success m-r-5 js-remote-submission' do
    %i.fa.fa-plus
    %span= 'Add a new build'

  = link_to project_branch_path(current_project, @tracked_branch),
    method: :delete, class: 'btn btn-xs btn-danger',
    data: { disable_with: with_dots('Untracking branch'),
            confirm: "Branch will be removed from this project. Are you sure?" } do
    %i.fa.fa-times
    %span= "Untrack branch"
.panel
  .panel-body
    = react_component 'TestRunPresenter',
      { testRuns: @test_runs.map(&:serialized_run), branchId: @tracked_branch.id }
