- breadcrumb :test_run, current_project, @test_run

- content_for :page_title do
  Build ##{@test_run.run_index}
- content_for :page_actions do
  = render partial: 'test_run_actions', locals: { test_run: @test_run }

.panel.panel-default{ data: { test_run_id: @test_run.id }}
  .panel-heading.test-run-panel-heading
    .pull-left
      .commit-info
        .title
          #{@test_run.commit_message(render_as_link: true)}
        .author
          #{@test_run.commit_info}
    .pull-right
      .show-all-area
        = label_tag :show_all, 'Toggle all logs', class: 'more-info',
          title: 'Show or hide logs with error messages.'
        = check_box_tag :show_all
  .row
    .col-md-12
      .progress{ data: @test_run.class.test_job_statuses[@test_run.id], id: @test_run.id }
  .panel-body
    .row
      .col-xs-12
        .table-responsive
          %table.table
            %thead
              %tr
                %th='Job name'
                %th='Status'
                %th='Sent at (UTC)'
                %th='Worker UUID'
                - if current_user.admin?
                  %th='Chunk index'
                  %th='Cost prediction'
                  %th='Worker command seconds'
                %th='Duration'
                %th='Actions'
            %tbody
              - @test_jobs.each do |test_job|
                - test_job = test_job.decorate
                %tr{id: "test-job-#{test_job.id}"}
                  %td= @test_run.project.in_demo_mode? ? test_job.demo_job_name : test_job.job_name
                  %td
                    %span{class: test_job.status.css_class}= test_job.status.text
                    - if test_job.status.unsuccessful?
                      = link_to "#error-#{test_job.id}",
                        data: { toggle: :collapse },
                        class: "more-info", area_expanded: false do
                        = 'Toggle logs'
                  %td= l(test_job.sent_at, format: :short) if test_job.sent_at
                  %td= test_job.worker_uuid_short
                  - if current_user.admin?
                    %td= test_job.chunk_index
                    %td
                      = test_job.avg_worker_command_run_seconds
                    %td
                      = test_job.worker_command_run_seconds
                  %td
                    = test_job.total_running_time
                  %td
                    - if test_job.status.terminal?
                      = link_to project_test_job_retry_path(current_project,
                        test_job),
                        class: "btn btn-primary btn-xs m-b-5", method: :put do
                        %i.fa.fa-refresh
                        %span= "Retry"
                      - if test_job.rerun?
                        .btn.btn-xs{ data: { toggle: "tooltip",
                          title: "This job has been retried. The times shown are those of the first execution" } }
                          %i.fa.fa-info

                - if test_job.status.unsuccessful?
                  %tr
                    %td{colspan: 10, class: 'display-error'}
                      %div{id: "error-#{test_job.id}", class: "well console collapse"}
                        :preserve
                          #{'\n'}
                          #{test_job.result.html_safe}
