%html
  %head
    - if Rails.env.production?
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-72250863-1', 'auto');
        ga('send', 'pageview');
    %title= meta_title
    %meta{name: :description, content: meta_description }
    %meta{name: "viewport", content: "width=device-width"}
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %script{ type: 'application/ld+json' }
      :plain
        {
          "@context" : "http://schema.org",
          "@type" : "http://schema.org/WebPage",
          "name" : "Testributor",
          "url" : "http://www.testributor.com",
          "image" : "#{ asset_url('logo.png') }",
          "sameAs" : [
            "http://www.facebook.com/testributor",
            "http://www.twitter.com/testributor",
            "http://www.linkedin.com/company/testributor",
            "http://angel.co/testributor"
          ]
        }
    = render "layouts/favicon"
    = stylesheet_link_tag 'front', media: 'all'
    %link{href: "http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic", rel: "stylesheet"}
    %link{href: "http://fonts.googleapis.com/css?family=Cuprum:400,700", rel: "stylesheet", type: "text/css"}

    = csrf_meta_tags
  %body{class: controller_and_action, data: page_data_attrs}
    = yield
    = javascript_include_tag 'front'
