!!!
%html
  %head
    - if Rails.env.production?
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-72250863-1', 'auto');
        ga('set', 'userId', 'User:#{current_user.id}');
        ga('send', 'pageview');
    %title= meta_title
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    = render "layouts/favicon"
    %link{href: "http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic", rel: "stylesheet"}

    = stylesheet_link_tag    'dashboard', media: 'all'
    = csrf_meta_tags
  %body{class: controller_and_action, data: page_data_attrs}
    = render partial: 'layouts/sidebar'
    %section.content
      = render partial: 'layouts/header'
      :ruby
        show_zero_workers_warning =
          current_project && current_project.active_workers == 0 &&
          !current_page?(instructions_project_path(current_project))

      - if show_zero_workers_warning
        .alert.alert-danger
          There are no active workers for this project.
          No jobs are being run. Check
          = link_to("the instructions", instructions_project_path(current_project))
          on how to add one.
      .wraper.container-fluid
        - if flash[:notice].present?
          .alert.alert-info= flash[:notice]
        - if flash[:alert].present?
          .alert.alert-danger= flash[:alert].html_safe
        - if content_for?(:page_title)
          .page-title
            %h3= yield :page_title
        - if breadcrumbs.any? || content_for?(:page_actions)
          %div.breadcrumb-bar
            - if breadcrumbs.any?
              %div.breadcrumb-left-side
                = breadcrumbs pretext: "You are here: ", style: :bootstrap,
                  display_single_fragment: true
            - if content_for?(:page_actions)
              %div.breadcrumb-actions
                = yield :page_actions
        = yield

    = javascript_include_tag 'dashboard'
    = yield(:in_page_js) if content_for?(:in_page_js)

  .modal.fade#feedback-modal
    .modal-dialog
      .modal-content
        = form_for FeedbackSubmission.new, remote: true do |f|
          .modal-header
            = button_tag "&times".html_safe, class: 'close', data: { dismiss: 'modal' }
            %h4 This product is still young. Your input will help it grow.
          .modal-body
            .form-group
              = f.label :category, "What kind of feedback do you have?"
              = f.select :category, FeedbackSubmission::CATEGORIES, {},
                  class: 'form-control'
            .form-group
              = f.label :body, "Provide details here: "
              = f.text_area :body, class: 'form-control'
            .form-group
              = f.label :rating, "How would you rate your experience so far?"
              .ratings
                - FeedbackSubmission::RATINGS.each do |label, rating|
                  = f.label :hello, class: 'radio-inline', for: nil do
                    = f.radio_button :rating, rating
                    = label
          .modal-footer
            = f.submit "Submit", class: 'btn btn-primary btn-lg w-lg',
              data: { disable_with: "Please wait..." }
